/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall > div#tag-2 {
  display: none;
}

#wall > div#tag-3.slick.wicked{
  display: none;
}

#wall > div.parent > div#tag-4{
  display: none;
}

#wall div.parent div#tag-5.slick{
 display: none;
}

#wall div.parent:nth-child(6) div:last-child div#tag-6{
  display: none;
}
